<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tomáš Silber">
    <base href="/">

    <title>OOPR3 projekt</title>
    <link rel="icon" href="image/favicon.png" sizes="any" type="image/png+xml">
    <link rel="stylesheet" type="text/css" media="all" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
    <script src="jquery.js"></script>
    <script src="script.js"></script>
</head>