<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading bg-dark text-white">Správa skladu</div>
    <div class="list-group list-group-flush">
        <a href="/products" class="list-group-item list-group-item-action bg-light">Produkty</a>
        <a href="/stockItems" class="list-group-item list-group-item-action bg-light">Zásoby</a>
        <a href="/expeditions" class="list-group-item list-group-item-action bg-light">Expedice</a>
        <a href="/companies" class="list-group-item list-group-item-action bg-light">Společnosti</a>
        <a href="/address" class="list-group-item list-group-item-action bg-light">Adresy</a>
        <a href="/contacts" class="list-group-item list-group-item-action bg-light">Kontakty</a>
    </div>
</div>
