<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head th:insert="fragment/htmlHead.html"> </head>
<body class="general-background">
<div class="d-flex" id="wrapper">
    <nav th:insert="fragment/navigation.html"> </nav>
    <div class="" id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <form action="/contacts"><button class="btn btn-primary btn-dark" id="new-btn">Zpátky</button></form>
            <form th:if="${contact != null}" th:action="'/contact/' + ${contact.getId()} + '/delete'"><button class="btn btn-primary btn-warning ml-1" id="delete-btn">Smazat</button></form>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">...<span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <h3 class="m-3 text-center">Produkt</h3>

        <div th:if="${contact != null}" class="container bg-white p-5 shadow">
            <form method="post">
                <label th:if="${message != null}" style="color: #1e7e34;" th:text="${message}"></label>
                <label class="text-danger" th:text="${error}"></label>
                <br>
                <label th:text="${'ID: ' + contact.getId()}"></label>
                <input th:value="${contact.getId()}" type="hidden" id="id" name="id">
                <div class="form-group">
                    <label>E-mail <label style="color:gray;">*</label></label>
                    <input th:value="${contact.getEmail()}" class="form-control" type="email" placeholder="e-mail" id="email" name="email">
                </div>
                <div class="form-group">
                    <label>Telefonní číslo <label style="color:gray;">*</label></label>
                    <input th:value="${contact.getPhone()}" class="form-control" type="text" placeholder="Telefonní číslo..." id="phone" name="phone">
                </div>
                <div class="form-group">
                    <label>Fax</label>
                    <input th:value="${contact.getFax()}" class="form-control" type="text" placeholder="Fax..." id="fax" name="fax">
                </div>
                <button type="submit" class="btn btn-primary btn-dark">Upravit</button>
                <br>
                <label style="color:gray;" class="mt-5">* povinný údaj</label>
            </form>
        </div>

        <div th:if="${contact == null}" class="container bg-white p-5 shadow">
            <form method="post">
                <label class="text-danger" th:text="${error}"></label>
                <div class="form-group">
                    <label>E-mail <label style="color:gray;">*</label></label>
                    <input class="form-control" type="email" placeholder="E-mail..." id="email" name="email">
                </div>
                <div class="form-group">
                    <label>Telefonní číslo <label style="color:gray;">*</label></label>
                    <input class="form-control" type="text" placeholder="Telefonní číslo..." id="phone" name="phone">
                </div>
                <div class="form-group">
                    <label>Fax</label>
                    <input class="form-control" type="text" placeholder="Fax..." id="fax" name="fax">
                </div>
                <button type="submit" class="btn btn-primary btn-dark">Odeslat</button>
                <br>
                <label style="color:gray;" class="mt-5">* povinný údaj</label>
            </form>
        </div>

    </div>

</div>
<div th:insert="fragment/footer.html"> </div>
</body>
</html>