<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <title>OOPR3 projekt</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="bootstrap/css/bootstrap.css" />
</head>
<body>
    <header th:insert="fragment/header.html"> </header>
    <nav th:insert="fragment/navigation.html"> </nav>

    <p th:text="'Hello, ' + ${name} + '!'" />

    <footer th:insert="fragment/footer.html"> </footer>
</body>
</html>