<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Tomáš Silber">

    <title>OOPR3 projekt</title>
    <link rel="stylesheet" type="text/css" media="all" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="all" href="style.css" />
</head>
<body>
<div class="d-flex" id="wrapper">
    <nav th:insert="fragment/navigation.html"> </nav>
    <div id="page-content-wrapper">
        <nav th:insert="fragment/sectionHeader.html"> </nav>

        <div class="">
            <h1 class="mt-4 text-center">Produkty</h1>
            <div  class="list-group">
                <a th:each="product: ${products}" href="#" class="list-group-item list-group-item-action align-items-start">
                    <div class="d-flex w-auto justify-content-between">
                        <h5 th:text="${product.getName()}" class="mb-1"></h5>
                        <small th:text="${'ID:' + product.getId()}"></small>
                    </div>
                    <p th:text="${product.getDescription()}" class="mb-1"></p>
                </a>
            </div>
        </div>
    </div>
</div>
<div th:insert="fragment/footer.html"> </div>
</body>
</html>