<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head th:insert="fragment/htmlHead.html"> </head>
<body class="general-background">
<div class="d-flex" id="wrapper">
    <nav th:insert="fragment/navigation.html"> </nav>
    <div class="" id="page-content-wrapper">
        <nav th:insert="fragment/sectionHeader.html"> </nav>

        <h3 class="m-3 text-center">Produkt</h3>

        <div th:if="${product != null}" class="container bg-white p-5 shadow">
            <form method="post">
                <label th:text="${'ID: ' + product.getId()}"></label>
                <input type="hidden" id="Id" name="id" value="1">
                <div class="form-group">
                    <label>Název</label>
                    <input th:value="${product.getName()}" class="form-control" type="text" placeholder="Název..." id="name" name="name">
                </div>
                <div class="form-group">
                    <label>Popis</label>
                    <input th:value="${product.getDescription()}" class="form-control" type="text" placeholder="Popis..." id="desc" name="desc">
                </div>
                <div class="form-group">
                    <label>Výrobce</label>
                    <input th:value="${product.getManufacturer()}" class="form-control" type="text" placeholder="Výrobce..." id="manufacturer" name="manufacturer">
                </div>
                <button type="submit" class="btn btn-primary btn-dark">Odeslat</button>
            </form>
        </div>

        <div th:if="${product == null}" class="container bg-white p-5 shadow">
            <form method="post">
                <label class="text-danger" th:text="${message}"></label>
                <div class="form-group">
                    <label>Název</label>
                    <input class="form-control" type="text" placeholder="Název..." id="name" name="name">
                </div>
                <div class="form-group">
                    <label>Popis</label>
                    <input class="form-control" type="text" placeholder="Popis..." id="desc" name="desc">
                </div>
                <div class="form-group">
                    <label>Výrobce</label>
                    <input class="form-control" type="text" placeholder="Výrobce..." id="manufacturer" name="manufacturer">
                </div>
                <button type="submit" class="btn btn-primary btn-dark">Odeslat</button>
            </form>
        </div>

    </div>

</div>
<div th:insert="fragment/footer.html"> </div>
</body>
</html>