<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml" lang="cs">
<head th:insert="fragment/htmlHead.html"> </head>
<body class="general-background">
<div class="" id="wrapper">
    <div id="login">
        <h3 class="text-center text-dark pt-5">Registrace</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12 border-3 my-border">
                        <form id="login-form" class="form" method="post">
                            <div class="form-group">
                                <label for="email" class="text-dark">E-mail:</label><br>
                                <input type="email" name="email" id="email" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="fname" class="text-dark">Jméno:</label><br>
                                <input type="text" name="fname" id="fname" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="lname" class="text-dark">Příjmení:</label><br>
                                <input type="text" name="lname" id="lname" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-dark">Heslo:</label><br>
                                <input type="password" name="password" id="password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-dark">Heslo znovu:</label><br>
                                <input type="password" name="passwordAgain" id="passwordAgain" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-primary btn-dark" value="Odeslat">
                            </div>
                            <div id="register-link" class="text-right">
                                <br>
                                <a href="/login" class="text-dark h5">Zpátky</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>