<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="cs">
<head th:insert="fragment/htmlHead.html"> </head>
<body class="general-background">
<div class="d-flex" id="wrapper">
    <nav th:insert="fragment/navigation.html"> </nav>
    <div class="" id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <form action="stockItem/new"><button class="btn btn-primary btn-dark" id="new-btn">Vytvořit</button></form>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">...<span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>
        </nav>

        <h3 class="m-3 text-center">Naskladněné produkty</h3>

        <div class="container bg-white p-5 shadow">
            <table class="table table-striped table-bordered">
                <tr>
                    <th class="table-head" scope="col">ID</th>
                    <th class="table-head" scope="col">Typ zboží</th>
                    <th class="table-head" scope="col">ID expedice</th>
                    <th class="table-head" scope="col">Počet</th>
                    <th class="table-head" scope="col">Cena Kč</th>
                    <th class="table-head" scope="col">Datum naskladnění</th>
                </tr>
                <tbody>
                <tr class='clickable-row' th:attr="data-href='/stockItem/' + ${stockItem.getId()}"  th:each="stockItem: ${stockItems}">
                    <th th:text="${stockItem.getId()}" scope="row"></th>
                    <th th:text="${stockItem.getProduct().getName()}"></th>
                    <th th:text="${stockItem.getExpedition() != null} ? ${stockItem.getExpedition().getId()} : 'N/A'"></th>
                    <th th:text="${stockItem.getQuantity()}"></th>
                    <th th:text="${stockItem.getPrice()}"></th>
                    <th th:text="${stockItem.getStorageDate()}"></th>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
<div th:insert="fragment/footer.html"> </div>
</body>
</html>